<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" [routerLink]="['/schools']">Coding Challenge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['schools']" routerLinkActive="active">Schools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['courses']" routerLinkActive="active">Courses</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['people']">All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['people', 'teachers']" routerLinkActive="active">Teachers</a>
          <a class="dropdown-item" [routerLink]="['people', 'students']" routerLinkActive="active">Students</a>
        </div>
      </li>
    </ul>
  </div>
</nav>